@import './config/normalize';
@import './config/variables';
@import './config/mixins';

.wrapper {
    @include flexiblePlacement(center, center, column, none);
    width: 100%;
    background: #1E213F;
    padding: 3em 0 3.5em;
}

.title {
    font-family: 'Kumbh Sans', sans-serif;
    color: #D7E0FF;
    font-size: calc(1vw + 18px);
}

.list {
    @include flexiblePlacement(center, center, none, none);
    margin: 3.43em 0 2.8em;
    padding: 0.5em 0.45em;
    background: #161932;
    border-radius: 31.5px;
    font-family: 'Kumbh Sans', sans-serif;
    box-shadow: none;
}

.btn {
    width: 120px;
    height: 48px;
    color: #D7E0FF;
    font-weight: bold;
    font-size: 14px;
    border-radius: 26.5px;
    border: none;
    background-color: #161932;
}

.btn:hover {
    color: white;
}

.timer {
    background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
    box-shadow: -50px -50px 100px #272C5A, 50px 50px 100px #121530;
    border-radius: 50%;
    padding: 22px;
}

.timer-inner {
    @include flexiblePlacement(center, center, column, none);
    border-radius: 50%;
    padding: 85px 50px 110px;
    background: #161932;
    color: #D7E0FF;
    font-family: 'Space Mono', monospace;
}

.timer-time {
    font-size: 100px;
    font-family: Space Mono;
    line-height: 148px;
    letter-spacing: -10px;
}

.timer-state {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 15px;
    margin-top: 10px;
}

.settings {
    background: url(../img/settings-icon.svg) no-repeat;
    width: 27px;
    height: 28px;
    background-size: contain;
    border: none;
    margin-top: 63px;
    opacity: 0.6;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    margin: 0 auto;
    height: 464px;
    width: 540px;
    border-radius: 25px;
    overflow: auto;
    background-color: white;
    padding: 34px 0 59px;
}

.modal-head {
    @include flexiblePlacement(space-between, none, none, none);
    height: 3.7em;
    border-bottom: 1px solid #E3E1E1;
    padding: 0 39px;
}

.modal-title {
    font-family: Kumbh Sans;
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
    color: #161932;
}

.close {
    color: #D8D8D8;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer
}

.modal-list {
    padding: 28px 39px 70px;
    @include flexiblePlacement(none, none, none, none);

}

.item-title {
    font-family: Kumbh Sans;
    line-height: 13px;
    letter-spacing: 5px;
    font-weight: 900;
    font-size: 14px;
    color: #161932;
}
@import './config/media';