@media (max-width: 415px) {
    .list {
        margin-top: 45px;
    }
}

@media (max-width: 376px) {
    .btn {
        width: 105px;
        height: 48px;
        font-size: 12px;
    }
}

@media (max-width: 321px) {
    .btn {
        width: 98px;
    }
}